html {
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;

    min-height: 100vh;
    min-width: 100vh;
}

#ticket-grid-wrapper {
    min-height: 54vh;
    min-width: 100vh;
}
#order-collapse-wrapper {
    min-height: 44vh;
    min-width: 100vh;

    overflow: hidden;
}
#error-msg-wrapper {
    position: fixed;
    bottom: 50px;
    width: 100%;

    text-align: center;
}

#random-form, #random-card {
    width: 50%;
    margin-left: 25%;
}

.collapsible-body {
    padding: 25px;
}

/**
    Ticket-grid
*/
#ticket-grid, #ticket-map {
    position: relative;
    display: block;
    width: 60%;
    margin-left: 19%;
}
#ticket-grid .ticket {
    cursor: pointer;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
#ticket-grid .ticket:hover:not(.booked):not(.sold) {
    background-color: #26a69a;
    color: #FFFFFF;

    -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.col.booked {
    background-color: #64b5f6;
    color: #FFFFFF;
    cursor: default !important;
}
.col.sold {
    background-color: #bdbdbd;
    color: #FFFFFF;
    cursor: default !important;
}

/**
 Error message
 */
#error-msg-wrapper .card-panel {
    display: inline-block;
    max-width: 60%;
    opacity: 0;

    -webkit-animation: appear 5.5s ease-in-out 0.1s forwards;
    -o-animation: appear 5.5s ease-in-out 0.1s forwards;
    animation: appear 5.5s ease-in-out 0.1s forwards;
}
#error-msg-wrapper .card-panel div {
    line-height: 2rem;
    vertical-align: middle;
}
#error-msg-wrapper .card-panel div i {
    top: 7px;
    margin-right: 10px;
    position: relative;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes appear {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
